@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <button id="ledOn" type="button" class="btn btn-success" disabled>
            Led ON
        </button>
        <button id="ledOff" type="button" class="btn btn-danger" disabled>
            Led OFF
        </button>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Temperature
            </div>
            <div class="panel-body">
                <div id="temperature">0</div>
                <div id="chart-temperature"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Humidity
            </div>
            <div class="panel-body">
                <div id="humidity">0</div>
                <div id="chart-humidity"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Water Level
            </div>
            <div class="panel-body">
                <div id="waterLevel">0</div>
                <div id="chart-waterLevel"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Soil Humidity
            </div>
            <div class="panel-body">
                <div id="soilHumidity">0</div>
                <div id="chart-soilHumidity"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Total Mili Litres
            </div>
            <div class="panel-body">
                <div id="totalMiliLitres">0</div>
                <div id="chart-totalMiliLitres"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="http://localhost:1235/signalr/hubs"></script>

    <script type="text/javascript">

        $(function () {

            $('#chart-temperature').dxChart({
                dataSource: [],
                commonAxisSettings: {
                    grid: {
                        visible: true
                    }
                },
                argumentAxis: {
                    argumentType: 'datetime'
                },
                valueAxis: {
                    valueType: 'numeric'
                },
                series: {
                    argumentField: 'MessageTime',
                    valueField: 'Temperature',
                    type: 'line'
                }
            });

            $('#chart-humidity').dxChart({
                dataSource: [],
                commonAxisSettings: {
                    grid: {
                        visible: true
                    }
                },
                argumentAxis: {
                    argumentType: 'datetime'
                },
                valueAxis: {
                    valueType: 'numeric'
                },
                series: {
                    argumentField: 'MessageTime',
                    valueField: 'Humidity',
                    type: 'line'
                }
            });

            $('#chart-waterLevel').dxChart({
                dataSource: [],
                commonAxisSettings: {
                    grid: {
                        visible: true
                    }
                },
                argumentAxis: {
                    argumentType: 'datetime'
                },
                valueAxis: {
                    valueType: 'numeric'
                },
                series: {
                    argumentField: 'MessageTime',
                    valueField: 'WaterLevel',
                    type: 'line'
                }
            });

            $('#chart-soilHumidity').dxChart({
                dataSource: [],
                commonAxisSettings: {
                    grid: {
                        visible: true
                    }
                },
                argumentAxis: {
                    argumentType: 'datetime'
                },
                valueAxis: {
                    valueType: 'numeric'
                },
                series: {
                    argumentField: 'MessageTime',
                    valueField: 'SoilHumidity',
                    type: 'line'
                }
            });

            $('#chart-totalMiliLitres').dxChart({
                dataSource: [],
                commonAxisSettings: {
                    grid: {
                        visible: true
                    }
                },
                argumentAxis: {
                    argumentType: 'datetime'
                },
                valueAxis: {
                    valueType: 'numeric'
                },
                series: {
                    argumentField: 'MessageTime',
                    valueField: 'TotalMiliLitres',
                    type: 'line'
                }
            });

            var iotHub = $.connection.iotHub;

            $.connection.hub.url = 'http://localhost:1235/signalr';

            iotHub.client.addMessage = function (msg) {
                console.log(msg);
            };

            iotHub.client.onConnected = function () {
                //$('#ledOn').prop('disabled', false);
                //$('#ledOff').prop('disabled', false);
            }

            iotHub.client.onDisconnected = function () {
                //$('#ledOn').prop('disabled', true);
                //$('#ledOff').prop('disabled', true);
            }

            iotHub.client.onMessageReceived = function (msg) {

                $('#temperature').html(parseFloat(msg['Temperature']).toFixed(2));
                $('#humidity').html(parseFloat(msg['Humidity']).toFixed(2));
                $('#waterLevel').html(parseInt(msg['WaterLevel']).toString());
                $('#soilHumidity').html(parseInt(msg['SoilHumidity']).toString());
                $('#totalMiliLitres').html(parseInt(msg['TotalMiliLitres']).toString());

                if (msg['RelayStatus']) {
                    $('#ledOn').prop('disabled', true);
                    $('#ledOff').prop('disabled', false);
                } else {
                    $('#ledOn').prop('disabled', false);
                    $('#ledOff').prop('disabled', true);
                }

                $('#chart-temperature').dxChart('getDataSource').store().push([{ type: "insert", data: msg }]);
                $('#chart-humidity').dxChart('getDataSource').store().push([{ type: "insert", data: msg }]);
                $('#chart-waterLevel').dxChart('getDataSource').store().push([{ type: "insert", data: msg }]);
                $('#chart-soilHumidity').dxChart('getDataSource').store().push([{ type: "insert", data: msg }]);
                $('#chart-totalMiliLitres').dxChart('getDataSource').store().push([{ type: "insert", data: msg }]);
            }

            $.connection.hub.start().done(function () {

                console.log("Connected, transport = " + $.connection.hub.transport.name);

                $('#ledOn').click(function () {
                    $('#ledOn').prop('disabled', true);
                    iotHub.server.send('Command/Led/on');
                });

                $('#ledOff').click(function () {
                    $('#ledOff').prop('disabled', true);
                    iotHub.server.send('Command/Led/off');
                });

                iotHub.server.getDailyReport().done(function (data) {

                    $('#chart-temperature').dxChart('option', 'dataSource', data);
                    $('#chart-soilHumidity').dxChart('option', 'dataSource', data);

                    //console.log(data);
                });

            })

        })

        

    </script>

}