@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <button id="ledOn" type="button" class="btn btn-success" disabled>
            Led ON
        </button>
        <button id="ledOff" type="button" class="btn btn-danger" disabled>
            Led OFF
        </button>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Temperature
            </div>
            <div id="temperature" class="panel-body">0</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Humidity
            </div>
            <div id="humidity" class="panel-body">0</div>
        </div>
    </div>
    <div class="col-sm-4">

    </div>
</div>

@section scripts {

    <script src="http://localhost:1235/signalr/hubs"></script>

    <script type="text/javascript">

        var iotHub = $.connection.iotHub;

        $.connection.hub.url = 'http://localhost:1235/signalr';

        iotHub.client.addMessage = function (msg) {
            console.log(msg);
        };

        iotHub.client.onConnected = function () {
            $('#ledOn').prop('disabled', false);
            $('#ledOff').prop('disabled', false);
        }

        iotHub.client.onDisconnected = function () {
            $('#ledOn').prop('disabled', true);
            $('#ledOff').prop('disabled', true);
        }

        iotHub.client.onMessageReceived = function (msg) {

            $('#temperature').html(parseFloat(msg['Temperature']).toFixed(2));
            $('#humidity').html(parseFloat(msg['Humidity']).toFixed(2));

            //console.log(msg);
        }

        $.connection.hub.start().done(function () {

            console.log("Connected, transport = " + $.connection.hub.transport.name);

            $('#ledOn').click(function () {
                iotHub.server.send('Command/Led/on');
            });

            $('#ledOff').click(function () {
                iotHub.server.send('Command/Led/off');
            });

        })

    </script>

}